.container {
  height: 500px;
  width: 500px;
  background-color: green;
  border: 3px solid red;
  display: flex;
}

.box {
  border: 2px solid orange;
  background-color: aqua;
  margin: 20px;
  height: 150px;
  width: 150px;

  /* transition: 2s; */

  /* transition-property: background-color; */

  /* transition-delay: 4s; */

  /* transition: background-color 5s ease 1s; */
  /* transition: all 5s ease 1s ; */

  /* transition: transform 3s cubic-bezier(1, 0.01, 0, 0.99); */

  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition-delay: 1s;
}

.box:hover {
  background-color: brown;
 
  transform:scale(2) translateX(501px) rotate(360deg);
}
