*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
   
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    

}

.container h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;

    display: grid;
    grid-gap: 10px;
}

.container2{
    display: grid;
    grid-template-columns: 35% 35% ;
    grid-template-rows:200px 200px 200px ;
    grid-gap: 20px;
    place-content: center;
    

}

.box{
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px  5px rgb(212, 209, 209);
}

.color{
    margin: 10px;
    color: blue;
}
.color2{
    margin: 10px;
    color: rgb(8, 226, 8);
}
.heading{
    margin-left: 10px;
}
.para{
    margin-left: 10px;
    color: rgb(118, 118, 118);
}
a{
    margin-left: 10px;
}



